<!-- Header Start -->
<div class="container-fluid bg-breadcrumb">
    <div class="bg-breadcrumb-single"></div>
    <div class="container text-center py-5" style="max-width: 900px;">
        <h4 class="text-white display-4 mb-4 wow fadeInDown" data-wow-delay="0.1s">Servicios</h4>
        <ol class="breadcrumb justify-content-center mb-0 wow fadeInDown" data-wow-delay="0.3s">
            <li class="breadcrumb-item"><a [routerLink]="['/welcome/inicio']">Inicio</a></li>
            <li class="breadcrumb-item active text-primary"><a [routerLink]="['/welcome/services']">Ahorros y creditos</a></li>
        </ol>    
    </div>
</div>
<!-- Header End -->

<!-- Services Start -->
<div class="container-fluid service py-5">
    <div class="container py-5">
        <div class="text-center mx-auto pb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 800px;">
            <!-- <h4 class="text-primary">Nuestros Servicios</h4> -->
            <h1 class="display-4"> Nuestros servicios</h1>
        </div>
        <div class="row g-4 justify-content-center text-center">
            <div class="col-md-6 col-lg-4 col-xl-4 wow fadeInUp" data-wow-delay="0.1s">
                <div class="service-item bg-light rounded h-100" style="overflow: hidden;">
                    <div class="service-img">
                        <img src="/assets/plantilla-welcome/img/servicios/AhorroProgramado.jpg" class="img-fluid w-100 rounded-top" alt="">
                    </div>
                    <div class="service-content text-center p-4 h-100 d-flex flex-column justify-content-between h-100 d-flex flex-column justify-content-between">
                        <div class="service-content-inner">
                            <a href="#" class="h4 mb-4 d-inline-flex text-start"><i class="fas fa-donate fa-2x me-2"></i> Ahorro programado</a>
                            <p class="mb-4" style="text-align: justify;">
                                Las cuentas de ahorro programado son una modalidad de ahorro que le permite guardar una porción del dinero
                                que recibes, por medio de depósitos parciales de cantidades mínimas previamente definidas y de manera periódica y 
                                sistematizada, durante un plazo no menor de seis meses manejados a través de libretas de ahorro.
                            </p>

                            <strong><p class="mb-2" style="text-align: justify;">REQUISITOS:</p></strong>

                            <ul style="list-style-type: square; text-align: left;">
                                <li>Ser asociado de la Cooperativa</li>
                                <li>Apertura mínima $25.00 dólares</li>
                                <li>Fotocopia de DUI y NIT</li>
                            </ul>
                              
                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 col-xl-4 wow fadeInUp" data-wow-delay="0.1s">
                <div class="service-item bg-light rounded h-100" style="overflow: hidden;">
                    <div class="service-img">
                        <img src="/assets/plantilla-welcome/img/servicios/AhorroVIP.jpg" class="img-fluid w-100 rounded-top" alt="">
                    </div>
                    <div class="service-content text-center p-4 h-100 d-flex flex-column justify-content-between h-100 d-flex flex-column justify-content-between">
                        <div class="service-content-inner">
                            <a href="#" class="h4 mb-4 d-inline-flex text-start"><i class="fas fa-donate fa-2x me-2"></i> Ahorro VIP</a>
                            <p class="mb-4" style="text-align: justify;">
                                Diseñada para personas que buscan disponibilidad de los fondos a la vista y una tasa de interés atractiva.
                            </p>

                            <strong><p class="mb-2" style="text-align: left;">BENEFICIOS:</p></strong>
                            <ul style="list-style-type: square; text-align: left;">
                                <li>Tasa de interes desde 4%</li>
                                <li>Intereses mensuales por saldos en cuenta</li>
                            </ul>

                            <strong><p class="mb-2" style="text-align: justify;">REQUISITOS:</p></strong>

                            <ul style="list-style-type: square; text-align: left;">
                                <li>Ser asociado de la Cooperativa</li>
                                <li>Apertura mínima $2000.00 dólares</li>
                                <li>Fotocopia de DUI y NIT, pasaporte o carnet de residente, si es extranjero</li>
                                <li>Recibo de agua o energia electrica</li>
                                <li>Comprobante de ingresos</li>
                            </ul>
                              
                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 col-xl-4 wow fadeInUp" data-wow-delay="0.1s">
                <div class="service-item bg-light rounded h-100" style="overflow: hidden;">
                    <div class="service-img">
                        <img src="/assets/plantilla-welcome/img/servicios/AhorroVista.jpg" class="img-fluid w-100 rounded-top" alt="">
                    </div>
                    <div class="service-content text-center p-4 h-100 d-flex flex-column justify-content-between">
                        <div class="service-content-inner">
                            <a href="#" class="h4 mb-4 d-inline-flex text-start"><i class="fas fa-donate fa-2x me-2"></i> Ahorro a la vista</a>
                            <p class="mb-4" style="text-align: justify;">Es un ahorro con libre disponibilidad y que permite efectuar operaciones de depósito y retiro en
                                cualquier momento durante los horarios de las oficinas y agencias de ACAVEN de R.L. y cuando el asociado 
                                ahorrante lo requiera, manejado a través de una libreta de ahorros.
                            </p>

                            <strong><p class="mb-2" style="text-align: justify;">REQUISITOS:</p></strong>

                            <ul style="list-style-type: square; text-align: left;">
                                <li>Ser asociado de la Cooperativa</li>
                                <li>Apertura mínima $25.00 dólares</li>
                                <li>Fotocopia de DUI y NIT</li>
                            </ul>
                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 col-xl-4 wow fadeInUp" data-wow-delay="0.1s">
                <div class="service-item bg-light rounded h-100" style="overflow: hidden;">
                    <div class="service-img">
                        <img src="/assets/plantilla-welcome/img/servicios/AhorroFuturo.png" class="img-fluid w-100 rounded-top" alt="">
                    </div>
                    <div class="service-content text-center p-4 h-100 d-flex flex-column justify-content-between">
                        <div class="service-content-inner">
                            <a href="#" class="h4 mb-4 d-inline-flex text-start"><i class="fas fa-donate fa-2x me-2"></i> Ahorro a futuro</a>
                            <p class="mb-4" style="text-align: justify;">Las cuentas de ahorro a futuro son una manera de ahorro que le permite guardar una 
                                cantidad de dinero definida, por medio de depósitos realizados de manera periódica, con una tasa de rendimiento pactada a un
                                plazo determinado y manejado a través de una libreta de ahorro.
                            </p>

                            <strong><p class="mb-2" style="text-align: justify;">REQUISITOS:</p></strong>

                            <ul style="list-style-type: square; text-align: left;">
                                <li>Ser asociado de la Cooperativa</li>
                                <li>Apertura mínima sujeta a política</li>
                                <li>Fotocopia de DUI y NIT</li>
                            </ul>
                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 col-xl-4 wow fadeInUp" data-wow-delay="0.1s">
                <div class="service-item bg-light rounded h-100" style="overflow: hidden;">
                    <div class="service-img">
                        <img src="/assets/plantilla-welcome/img/servicios/AhorroInfantil.jpg" class="img-fluid w-100 rounded-top" alt="">
                    </div>
                    <div class="service-content text-center p-4 h-100 d-flex flex-column justify-content-between">
                        <div class="service-content-inner">
                            <a href="#" class="h4 mb-4 d-inline-flex text-start"><i class="fas fa-donate fa-2x me-2"></i> Ahorro infantil</a>
                            <p class="mb-4" style="text-align: justify;">Es una cuenta con modalidad de ahorro programado con libreta, cuyo objetivo es que los niños y jóvenes puedan incursionar 
                                a su corta edad en el mercado financiero.
                            </p>

                            <strong><p class="mb-2" style="text-align: justify;">REQUISITOS:</p></strong>

                            <ul style="list-style-type: square; text-align: left;">
                                <li>El representante legal del niño debe ser asociado de la cooperativa</li>
                                <li>Apertura mínima $25.00</li>
                                <li>Fotocopia de DUI y NIT del representante legal del niño o joven</li>
                            </ul>

                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 col-xl-4 wow fadeInUp" data-wow-delay="0.1s">
                <div class="service-item bg-light rounded h-100" style="overflow: hidden;">
                    <div class="service-img">
                        <img src="/assets/plantilla-welcome/img/servicios/DepositoaPlazo.jpg" class="img-fluid w-100 rounded-top" alt="">
                    </div>
                    <div class="service-content text-center p-4 h-100 d-flex flex-column justify-content-between">
                        <div class="service-content-inner">
                            <a href="#" class="h4 mb-4 d-inline-flex text-start"><i class="fas fa-donate fa-2x me-2"></i> Deposito a plazo</a>
                            <p class="mb-4" style="text-align: justify;">Los «depósitos a plazo» o «ahorros a plazo» son los fondos recibidos de los ahorrantes, con la característica 
                                que deben mantenerse durante un período determinado, acordado previamente entre la cooperativa y el ahorrante.
                            </p>

                            <strong><p class="mb-2" style="text-align: justify;">REQUISITOS:</p></strong>

                            <ul style="list-style-type: square; text-align: left;">
                                <li>Ser asociado de la Cooperativa</li>
                                <li>Apertura mínima $500.00 dólares.</li>
                                <li>Fotocopia de DUI y NIT.</li>
                            </ul>

                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 col-xl-4 wow fadeInUp" data-wow-delay="0.1s">
                <div class="service-item bg-light rounded h-100" style="overflow: hidden;">
                    <div class="service-img">
                        <img src="/assets/plantilla-welcome/img/servicios/CreditosPersonales.jpg" class="img-fluid w-100 rounded-top" alt="">
                    </div>
                    <div class="service-content text-center p-4 h-100 d-flex flex-column justify-content-between">
                        <div class="service-content-inner">
                            <a href="#" class="h4 mb-4 d-inline-flex text-start"><i class="fas fa-donate fa-2x me-2"></i>Créditos personales</a>
                            <p class="mb-4" style="text-align: justify;">Contamos con una amplia gama de créditos. damos muchas facilidades y rapidez en tramites. Recibimos garantía fiduciaria y/o hipotecaria.

                                El plazo máximo para la resolución de tu crédito es de diez días hábiles, a partir del día siguiente de la recepción de los documentos completos.
                            </p>

                            <strong><p class="mb-2" style="text-align: justify;">REQUISITOS:</p></strong>

                            <ul style="list-style-type: square; text-align: left;">
                                <li>Ser asociado de la Cooperativa</li>
                                <li>Ser empleado (sector público o privado).</li>
                                <li>Si eres propietario de un negocio, este deberá contar por lo menos con un año de funcionamiento.</li>
                                <li>
                                  Presentar Solicitud de crédito completamente llena y adjuntar los siguientes documentos:
                                  <ul style="list-style-type: circle; margin-top: 5px;">
                                    <li>Constancia de salario.</li>
                                    <li>Fotocopias de DUI y NIT ampliadas a 150 %.</li>
                                    <li>Recibo de agua o luz original.</li>
                                    <li>Presentar la misma documentación para el fiador, tomando en cuenta que el fiador debe tener un salario igual o mayor que el del solicitante.</li>
                                  </ul>
                                </li>
                            </ul>                             
                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 col-xl-4 wow fadeInUp" data-wow-delay="0.1s">
                <div class="service-item bg-light rounded h-100" style="overflow: hidden;">
                    <div class="service-img">
                        <img src="/assets/plantilla-welcome/img/servicios/CrediGob.jpg" class="img-fluid w-100 rounded-top" alt="">
                    </div>
                    <div class="service-content text-center p-4 h-100 d-flex flex-column justify-content-between">
                        <div class="service-content-inner">
                            <a href="#" class="h4 mb-4 d-inline-flex text-start"><i class="fas fa-donate fa-2x me-2"></i> Credi GOB</a>
                            <p class="mb-4" style="text-align: justify;">Línea especial para empleados de gobierno, con tasas de interés flexibles y periodos de tiempo considerables
                            </p>

                            <strong><p class="mb-2" style="text-align: justify;">REQUISITOS:</p></strong>

                            <ul style="list-style-type: square; text-align: left;">
                                <li>Ser asociado de la Cooperativa</li>
                                <li>Ser empleado (sector público o privado).</li>
                                <li>Si eres propietario de un negocio, este deberá contar por lo menos con un año de funcionamiento.</li>
                                <li>Presentar Solicitud de crédito completamente llena .</li>
                                <li>Fotocopias de DUI y NIT ampliadas a 150 %.</li>
                                <li>Recibo de agua o luz original.</li>
                                <li>Presentar la misma documentación para el fiador, tomando en cuenta que el fiador debe 
                                    tener un salario igual o mayor que el del solicitante.</li>
                            </ul>        
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 col-xl-4 wow fadeInUp" data-wow-delay="0.1s">
                <div class="service-item bg-light rounded h-100" style="overflow: hidden;">
                    <div class="service-img">
                        <img src="/assets/plantilla-welcome/img/servicios/CreditoHipotecario.png" class="img-fluid w-100 rounded-top" alt="">
                    </div>
                    <div class="service-content text-center p-4 h-100 d-flex flex-column justify-content-between">
                        <div class="service-content-inner">
                            <a href="#" class="h4 mb-4 d-inline-flex text-start"><i class="fas fa-donate fa-2x me-2"></i> Credi GOB</a>
                            <p class="mb-4" style="text-align: justify;">Línea especial para empleados de gobierno, con tasas de interés flexibles y periodos de tiempo considerables
                            </p>

                            <strong><p class="mb-2" style="text-align: justify;">REQUISITOS:</p></strong>

                            <ul style="list-style-type: square; text-align: left;">
                                <li>Ser asociado de la Cooperativa</li>
                                <li>Ser empleado (sector público o privado).</li>
                                <li>Si eres propietario de un negocio, este deberá contar por lo menos con un año de funcionamiento.</li>
                                <li>Presentar Solicitud de crédito completamente llena .</li>
                                <li>Fotocopias de DUI y NIT ampliadas a 150 %.</li>
                                <li>Recibo de agua o luz original.</li>
                                <li>Presentar la misma documentación para el fiador, tomando en cuenta que el fiador debe 
                                    tener un salario igual o mayor que el del solicitante.</li>
                            </ul>        
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Services End -->
 