<!-- Header Start -->
<div class="container-fluid bg-breadcrumb">
    <div class="bg-breadcrumb-single"></div>
    <div class="container text-center py-5" style="max-width: 900px;">
        <h4 class="text-white display-4 mb-4 wow fadeInDown" data-wow-delay="0.1s">Valores</h4>
        <ol class="breadcrumb justify-content-center mb-0 wow fadeInDown" data-wow-delay="0.3s">
          <li class="breadcrumb-item"><a [routerLink]="['/welcome/inicio']">Inicio</a></li>
          <li class="breadcrumb-item active text-primary"><a [routerLink]="['/welcome/valores']">Valores</a></li>
        </ol>    
    </div>
</div>
<!-- Header End -->

<!-- FAQs Start -->
<div class="container-fluid faq py-5">
    <div class="container py-5">
        <div class="row g-5 align-items-center">
            <div class="col-lg-6 wow fadeInLeft" data-wow-delay="0.1s">
                <div class="pb-2">
                    <!-- <h4 class="text-primary">RSE</h4> -->
                    <strong><h2 class="text-dark">VALORES</h2></strong>
                </div>
               <div class="accordion bg-light rounded p-4" id="accordionExample">
                    <div class="accordion-item border-0 mb-4">
                        <!-- <h2 class="accordion-header" id="headingOne">
                            <button class="accordion-button text-dark fs-5 fw-bold rounded-top" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseTOne">
                                What Does a Financial Advisor Do?
                            </button>
                        </h2> -->
                        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                            <div class="accordion-body my-2">
                                <!-- <h5>Dolor sit amet consectetur adipisicing elit.</h5> -->
                                <p>
                                    Por que para La Asociación Cooperativa de Ahorro y Crédito la Ventana de Responsabilidad Limitada que se abrevia ACAVEN de R.L. toda operación y actividad debe ser realizada con:                                    
                                </p>
                            </div>
                        </div>                       
                    </div>
                    <br>
                    <div class="pb-2">
                        <!-- <h4 class="text-primary">RSE</h4> -->
                        <h3 class="text-primary">Confianza</h3>
                    </div>
                    <div class="accordion-item border-0 mb-2">
                        <!-- <h2 class="accordion-header" id="headingOne">
                            <button class="accordion-button text-dark fs-5 fw-bold rounded-top" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseTOne">
                                What Does a Financial Advisor Do?
                            </button>
                        </h2> -->
                        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                            <div class="accordion-body my-2">
                                <!-- <h5>Dolor sit amet consectetur adipisicing elit.</h5> -->
                                <p>
                                    Seguridad que se proyecta al trabajar con ética, generando tranquilidad en los asociados y demás grupos de interés.                                  
                                </p>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="pb-2">
                        <!-- <h4 class="text-primary">RSE</h4> -->
                        <h3 class="text-primary">Honestidad</h3>
                    </div>
                    <div class="accordion-item border-0 mb-2">
                        <!-- <h2 class="accordion-header" id="headingOne">
                            <button class="accordion-button text-dark fs-5 fw-bold rounded-top" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseTOne">
                                What Does a Financial Advisor Do?
                            </button>
                        </h2> -->
                        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                            <div class="accordion-body my-2">
                                <!-- <h5>Dolor sit amet consectetur adipisicing elit.</h5> -->
                                <p>
                                    Coherencia del actuar de la cooperativa con principios de transparencia.                                  
                                </p>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="pb-2">
                        <!-- <h4 class="text-primary">RSE</h4> -->
                        <h3 class="text-primary">Innovación</h3>
                    </div>
                    <div class="accordion-item border-0 mb-2">
                        <!-- <h2 class="accordion-header" id="headingOne">
                            <button class="accordion-button text-dark fs-5 fw-bold rounded-top" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseTOne">
                                What Does a Financial Advisor Do?
                            </button>
                        </h2> -->
                        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                            <div class="accordion-body my-2">
                                <!-- <h5>Dolor sit amet consectetur adipisicing elit.</h5> -->
                                <p>
                                    Mejora continua en procesos, tecnología, productos y/o servicios brindados a los asociados.                                  
                                </p>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="pb-2">
                        <!-- <h4 class="text-primary">RSE</h4> -->
                        <h3 class="text-primary">Solidaridad</h3>
                    </div>
                    <div class="accordion-item border-0 mb-2">
                        <!-- <h2 class="accordion-header" id="headingOne">
                            <button class="accordion-button text-dark fs-5 fw-bold rounded-top" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseTOne">
                                What Does a Financial Advisor Do?
                            </button>
                        </h2> -->
                        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                            <div class="accordion-body my-2">
                                <!-- <h5>Dolor sit amet consectetur adipisicing elit.</h5> -->
                                <p>
                                    Sentido de valoración del ser humano, buscando el bienestar común de todos los miembros.                                  
                                </p>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="pb-2">
                        <!-- <h4 class="text-primary">RSE</h4> -->
                        <h3 class="text-primary">Identidad</h3>
                    </div>
                    <div class="accordion-item border-0 mb-2">
                        <!-- <h2 class="accordion-header" id="headingOne">
                            <button class="accordion-button text-dark fs-5 fw-bold rounded-top" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseTOne">
                                What Does a Financial Advisor Do?
                            </button>
                        </h2> -->
                        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                            <div class="accordion-body my-2">
                                <!-- <h5>Dolor sit amet consectetur adipisicing elit.</h5> -->
                                <p>
                                    Compromiso con la organización de todos los miembros que la confirman.                             
                                </p>
                            </div>
                        </div>
                    </div>
               </div>

            </div>
            <div class="col-lg-6 wow fadeInRight" data-wow-delay="0.3s">
                <div class="faq-img RotateMoveRight rounded ">
                    <img src="/assets/plantilla-welcome/img/IMAGEN-VALORES.jpeg" class="img-fluid rounded w-100" alt="Image">
                    <!-- <a class="faq-btn btn btn-primary rounded-pill text-white py-3 px-5" href="#">Read More Q & A <i class="fas fa-arrow-right ms-2"></i></a> -->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- FAQs End -->