<!-- Header Start -->
<div class="container-fluid bg-breadcrumb">
    <div class="bg-breadcrumb-single"></div>
    <div class="container text-center py-5" style="max-width: 900px;">
        <h4 class="text-white display-4 mb-4 wow fadeInDown" data-wow-delay="0.1s">Historia</h4>
        <ol class="breadcrumb justify-content-center mb-0 wow fadeInDown" data-wow-delay="0.3s">
          <li class="breadcrumb-item"><a [routerLink]="['/welcome/inicio']">Inicio</a></li>
          <li class="breadcrumb-item active text-primary"><a [routerLink]="['/welcome/history']">Historia</a></li>
        </ol>    
    </div>
</div>
<!-- Header End -->

<!-- FAQs Start -->
<div class="container-fluid faq py-5">
    <div class="container py-5">
        <div class="row g-5 align-items-center">
            <div class="col-lg-6 wow fadeInLeft" data-wow-delay="0.1s">
                <div class="pb-5">
                    <!-- <h4 class="text-primary">RSE</h4> -->
                    <h1 class="display-4">Historia</h1>
                </div>
               <div class="accordion bg-light rounded p-4" id="accordionExample">
                    <div class="accordion-item border-0 mb-4">
                        <!-- <h2 class="accordion-header" id="headingOne">
                            <button class="accordion-button text-dark fs-5 fw-bold rounded-top" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseTOne">
                                What Does a Financial Advisor Do?
                            </button>
                        </h2> -->
                        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                            <div class="accordion-body my-2">
                                <!-- <h5>Dolor sit amet consectetur adipisicing elit.</h5> -->
                                <p>
                                    La Asociación Cooperativa de Ahorro y Crédito la Ventana de Responsabilidad Limitada que se abrevia ACAVEN de R.L. Nació el 1 de marzo 
                                    de 2020 a iniciativa de un grupo de personas que impulsa y quiere desarrollar la cultura de ahorro, tomando en cuenta que ahorrar no se
                                    trata solo de cantidad sino de constancia y de crear esos hábitos financieros que proporcionen independencia y solidez económica para 
                                    enfrentar situaciones cotidianas así como el ofertar, gestionar y administrar créditos a corto y largo plazo con el fin de contribuir 
                                    y promover la inclusión financiera y en la población salvadoreña, esto por medio del acercamiento de productos y servicios financieros 
                                    a todos los socios y clientes anteponiendo la confianza, honestidad, innovación, solidaridad e identidad ante toda actividad.                                    
                                </p> <br>
                            </div>
                        </div>
                    </div>
                    
               </div>
            </div>
            <div class="col-lg-6 wow fadeInRight" data-wow-delay="0.3s">
                <div class="faq-img RotateMoveRight rounded ">
                    <img src="/assets/plantilla-welcome/img/history-logo.jpeg" class="img-fluid rounded w-100" alt="Image">
                    <!-- <a class="faq-btn btn btn-primary rounded-pill text-white py-3 px-5" href="#">Read More Q & A <i class="fas fa-arrow-right ms-2"></i></a> -->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- FAQs End -->

<style>
    .small-img {
  max-height: 300px;
  object-fit: cover;
}
</style>