<!-- Header Start -->
<div class="container-fluid bg-breadcrumb">
    <div class="bg-breadcrumb-single"></div>
    <div class="container text-center py-5" style="max-width: 900px;">
        <h4 class="text-white display-4 mb-4 wow fadeInDown" data-wow-delay="0.1s">Sobre nosotros</h4>
        <ol class="breadcrumb justify-content-center mb-0 wow fadeInDown" data-wow-delay="0.3s">
          <li class="breadcrumb-item"><a [routerLink]="['/welcome/inicio']">Inicio</a></li>
          <li class="breadcrumb-item active text-primary"><a [routerLink]="['/welcome/about']">Nosotros</a></li>
        </ol>    
    </div>
</div>
<!-- Header End -->

<!-- About Start -->
<div class="container-fluid about bg-light py-5">
    <div class="container py-5">
        <div class="row g-5 align-items-center">
            <div class="col-lg-6 col-xl-5 wow fadeInLeft" data-wow-delay="0.1s">
                <div class="about-img">
                    <img src="/assets/plantilla-welcome/img/about-3.png" class="img-fluid w-100 rounded-top equal-image bg-white" alt="Image">
                    <img src="/assets/plantilla-welcome/img/about-2.jpg" class="img-fluid w-100 rounded-bottom" alt="Image">
                </div>
            </div>
            <div class="col-lg-6 col-xl-7 wow fadeInRight" data-wow-delay="0.3s">
                <h4 class="text-primary">Nosotros</h4>
                <h1 class="display-5 mb-4">Quiénes somos</h1>
                <p class="text ps-4 mb-4">La Asociación Cooperativa de Ahorro y Crédito la Ventana de Responsabilidad Limitada es una sociedad cuyo objeto es servir las necesidades financieras de sus socios y de terceros mediante el ejercicio de sus actividades propias.

                    ​<br> <br>
                    
                    Como empresa consideramos que una cooperativa debe ser de acceso público sin restricciones y que le permitan al público en general aprender a administrar de manera eficiente sus créditos y ahorros.
                    
                    ​<br><br>
                    
                    Siguiendo la tradición de nuestros fundadores y actuales miembros creemos y practicamos los valores éticos de la Honestidad, Innovación, Solidaridad, Identidad son la clave para que una institución financiera y sus socios tengan un pleno crecimiento económico.
                </p>
                <div class="row g-4 justify-content-between mb-5">
                    <div class="col-lg-6 col-xl-5">
                        <p class="text-dark"><i class="fas fa-check-circle text-primary me-1"></i> Aportaciones</p>
                        <p class="text-dark mb-0"><i class="fas fa-check-circle text-primary me-1"></i> Cuentas de ahorro</p>
                    </div>
                    <div class="col-lg-6 col-xl-7">
                        <p class="text-dark"><i class="fas fa-check-circle text-primary me-1"></i> Depositos a plazo</p>
                        <p class="text-dark mb-0"><i class="fas fa-check-circle text-primary me-1"></i> Lineas de crédito</p>
                    </div>
                </div>

                <div class="row g-4 text-center align-items-center justify-content-center">
                    <!-- <div class="col-sm-4">
                        <div class="bg-primary rounded p-4">
                            <div class="d-flex align-items-center justify-content-center">
                                <span class="counter-value fs-1 fw-bold text-dark" data-toggle="counter-up">32</span>
                                <h4 class="text-dark fs-1 mb-0" style="font-weight: 600; font-size: 25px;">k+</h4>
                            </div>
                            <div class="w-100 d-flex align-items-center justify-content-center">
                                <p class="text-white mb-0">Project Complete</p>
                            </div>
                        </div>
                    </div>                 -->
                    <div class="col-sm-4">
                        <div class="bg-primary rounded p-4">
                            <div class="d-flex align-items-center justify-content-center">
                                <span class="counter-value fs-1 fw-bold text-dark" data-toggle="counter-up">1107</span>

                                <h4 class="text-dark fs-1 mb-0" style="font-weight: 600; font-size: 25px;">+</h4>

                            </div>
                            <div class="w-100 d-flex align-items-center justify-content-center">
                                <p class="text-white mb-0">Asociados</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About End -->

<!-- Team Start -->
<div class="container-fluid team py-5">
    <div class="container py-5">
        <div class="text-center mx-auto pb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 800px;">
            <h4 class="text-primary">Nuestro equipo</h4>
            <h1 class="display-4">Nuestros funcionarios</h1>
        </div>
        <div class="row g-4 justify-content-center">
            <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="team-item rounded">
                    <div class="team-img">
                        <img src="/assets/plantilla-welcome/img/GERENTE.jpeg" class="img-fluid w-100 rounded-top equal-image" alt="Image">
                        <div class="team-icon">
                            <a class="btn btn-primary btn-sm-square text-white rounded-circle mb-3" href=""><i class="fas fa-share-alt"></i></a>
                            <div class="team-icon-share">
                                <a class="btn btn-primary btn-sm-square text-white rounded-circle mb-3" href=""><i class="fab fa-facebook-f"></i></a>
                                <a class="btn btn-primary btn-sm-square text-white rounded-circle mb-3" href=""><i class="fab fa-twitter"></i></a>
                                <a class="btn btn-primary btn-sm-square text-white rounded-circle mb-0" href=""><i class="fab fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="team-content bg-dark text-center rounded-bottom p-4">
                        <div class="team-content-inner rounded-bottom">
                            <h4 class="text-white">NUESTRO GERENTE GENERAL</h4>
                            <p class="text-muted mb-0">LIC. CARLOS SANTOS</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="team-item rounded">
                    <div class="team-img">
                        <img src="/assets/plantilla-welcome/img/PRESIDENTA.jpeg" class="img-fluid w-100 rounded-top equal-image" alt="Image">
                        <div class="team-icon">
                            <a class="btn btn-primary btn-sm-square text-white rounded-circle mb-3" href=""><i class="fas fa-share-alt"></i></a>
                            <div class="team-icon-share">
                                <a class="btn btn-primary btn-sm-square text-white rounded-circle mb-3" href=""><i class="fab fa-facebook-f"></i></a>
                                <a class="btn btn-primary btn-sm-square text-white rounded-circle mb-3" href=""><i class="fab fa-twitter"></i></a>
                                <a class="btn btn-primary btn-sm-square text-white rounded-circle mb-0" href=""><i class="fab fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="team-content bg-dark text-center rounded-bottom p-4">
                        <div class="team-content-inner rounded-bottom">
                            <h4 class="text-white">PRESIDENTA DEL CONSEJO DE ADMINISTRACIÓN</h4>
                            <p class="text-muted mb-0">LIC. PRISCILA ELIZABETH PEÑA REYES</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="team-item rounded">
                    <div class="team-img">
                        <img src="/assets/plantilla-welcome/img/CONSEJO DE ADMINISTRACIÓN.jpeg" class="img-fluid w-100 rounded-top equal-image" alt="Image">
                        <div class="team-icon">
                            <a class="btn btn-primary btn-sm-square text-white rounded-circle mb-3" href=""><i class="fas fa-share-alt"></i></a>
                            <div class="team-icon-share">
                                <a class="btn btn-primary btn-sm-square text-white rounded-circle mb-3" href=""><i class="fab fa-facebook-f"></i></a>
                                <a class="btn btn-primary btn-sm-square text-white rounded-circle mb-3" href=""><i class="fab fa-twitter"></i></a>
                                <a class="btn btn-primary btn-sm-square text-white rounded-circle mb-0" href=""><i class="fab fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="team-content bg-dark text-center rounded-bottom p-4">
                        <div class="team-content-inner rounded-bottom">
                            <h4 class="text-white">CONSEJO DE ADMINISTRACIÓN</h4>
                            <p class="text-muted mb-0"></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6 wow fadeInUp" data-wow-delay="0.3s">
                <div class="team-item rounded">
                    <div class="team-img">
                        <img src="/assets/plantilla-welcome/img/COMITE ASESOR ESTRATEGICO.jpeg" class="img-fluid w-100 rounded-top equal-image" alt="Image">
                        <div class="team-icon">
                            <a class="btn btn-primary btn-sm-square text-white rounded-circle mb-3" href=""><i class="fas fa-share-alt"></i></a>
                            <div class="team-icon-share">
                                <a class="btn btn-primary btn-sm-square text-white rounded-circle mb-3" href=""><i class="fab fa-facebook-f"></i></a>
                                <a class="btn btn-primary btn-sm-square text-white rounded-circle mb-3" href=""><i class="fab fa-twitter"></i></a>
                                <a class="btn btn-primary btn-sm-square text-white rounded-circle mb-0" href=""><i class="fab fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="team-content bg-dark text-center rounded-bottom p-4">
                        <div class="team-content-inner rounded-bottom">
                            <h4 class="text-white">COMITE ASESOR ESTRATEGICO</h4>
                            <p class="text-muted mb-0"></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="team-item rounded">
                    <div class="team-img">
                        <img src="/assets/plantilla-welcome/img/COMITE DE PREVENCION DE RIESGO DE LD.jpeg" class="img-fluid w-100 rounded-top equal-image" alt="Image">
                        <div class="team-icon">
                            <a class="btn btn-primary btn-sm-square text-white rounded-circle mb-3" href=""><i class="fas fa-share-alt"></i></a>
                            <div class="team-icon-share">
                                <a class="btn btn-primary btn-sm-square text-white rounded-circle mb-3" href=""><i class="fab fa-facebook-f"></i></a>
                                <a class="btn btn-primary btn-sm-square text-white rounded-circle mb-3" href=""><i class="fab fa-twitter"></i></a>
                                <a class="btn btn-primary btn-sm-square text-white rounded-circle mb-0" href=""><i class="fab fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="team-content bg-dark text-center rounded-bottom p-4">
                        <div class="team-content-inner rounded-bottom">
                            <h4 class="text-white">COMITE DE PREVENCION DE RIESGO DE L.D</h4>
                            <p class="text-muted mb-0"></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6 wow fadeInUp" data-wow-delay="0.7s">
                <div class="team-item rounded">
                    <div class="team-img">
                        <img src="/assets/plantilla-welcome/img/COMITE DE EDUCACION.jpeg" class="img-fluid w-100 rounded-top equal-image" alt="Image">
                        <div class="team-icon">
                            <a class="btn btn-primary btn-sm-square text-white rounded-circle mb-3" href=""><i class="fas fa-share-alt"></i></a>
                            <div class="team-icon-share">
                                <a class="btn btn-primary btn-sm-square text-white rounded-circle mb-3" href=""><i class="fab fa-facebook-f"></i></a>
                                <a class="btn btn-primary btn-sm-square text-white rounded-circle mb-3" href=""><i class="fab fa-twitter"></i></a>
                                <a class="btn btn-primary btn-sm-square text-white rounded-circle mb-0" href=""><i class="fab fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="team-content bg-dark text-center rounded-bottom p-4">
                        <div class="team-content-inner rounded-bottom">
                            <h4 class="text-white">COMITE DE EDUCACION</h4>
                            <p class="text-muted mb-0"></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6 wow fadeInUp" data-wow-delay="0.7s">
                <div class="team-item rounded">
                    <div class="team-img">
                        <img src="/assets/plantilla-welcome/img/COMITE DE SEGURIDAD OCUPACIONAL.jpeg" class="img-fluid w-100 rounded-top equal-image" alt="Image">
                        <div class="team-icon">
                            <a class="btn btn-primary btn-sm-square text-white rounded-circle mb-3" href=""><i class="fas fa-share-alt"></i></a>
                            <div class="team-icon-share">
                                <a class="btn btn-primary btn-sm-square text-white rounded-circle mb-3" href=""><i class="fab fa-facebook-f"></i></a>
                                <a class="btn btn-primary btn-sm-square text-white rounded-circle mb-3" href=""><i class="fab fa-twitter"></i></a>
                                <a class="btn btn-primary btn-sm-square text-white rounded-circle mb-0" href=""><i class="fab fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="team-content bg-dark text-center rounded-bottom p-4">
                        <div class="team-content-inner rounded-bottom">
                            <h4 class="text-white">COMITE DE SEGURIDAD OCUPACIONAL</h4>
                            <p class="text-muted mb-0"></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6 wow fadeInUp" data-wow-delay="0.7s">
                <div class="team-item rounded">
                    <div class="team-img">
                        <img src="/assets/plantilla-welcome/img/COMITE DE MORA.jpeg" class="img-fluid w-100 rounded-top equal-image" alt="Image">
                        <div class="team-icon">
                            <a class="btn btn-primary btn-sm-square text-white rounded-circle mb-3" href=""><i class="fas fa-share-alt"></i></a>
                            <div class="team-icon-share">
                                <a class="btn btn-primary btn-sm-square text-white rounded-circle mb-3" href=""><i class="fab fa-facebook-f"></i></a>
                                <a class="btn btn-primary btn-sm-square text-white rounded-circle mb-3" href=""><i class="fab fa-twitter"></i></a>
                                <a class="btn btn-primary btn-sm-square text-white rounded-circle mb-0" href=""><i class="fab fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="team-content bg-dark text-center rounded-bottom p-4">
                        <div class="team-content-inner rounded-bottom">
                            <h4 class="text-white">COMITE DE MORA</h4>
                            <p class="text-muted mb-0"></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6 wow fadeInUp" data-wow-delay="0.7s">
                <div class="team-item rounded">
                    <div class="team-img">
                        <img src="/assets/plantilla-welcome/img/COMITE DE CREDITOS.jpeg" class="img-fluid w-100 rounded-top equal-image" alt="Image">
                        <div class="team-icon">
                            <a class="btn btn-primary btn-sm-square text-white rounded-circle mb-3" href=""><i class="fas fa-share-alt"></i></a>
                            <div class="team-icon-share">
                                <a class="btn btn-primary btn-sm-square text-white rounded-circle mb-3" href=""><i class="fab fa-facebook-f"></i></a>
                                <a class="btn btn-primary btn-sm-square text-white rounded-circle mb-3" href=""><i class="fab fa-twitter"></i></a>
                                <a class="btn btn-primary btn-sm-square text-white rounded-circle mb-0" href=""><i class="fab fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="team-content bg-dark text-center rounded-bottom p-4">
                        <div class="team-content-inner rounded-bottom">
                            <h4 class="text-white">COMITE DE CREDITOS</h4>
                            <p class="text-muted mb-0"></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6 wow fadeInUp" data-wow-delay="0.7s">
                <div class="team-item rounded">
                    <div class="team-img">
                        <img src="/assets/plantilla-welcome/img/JUNTA DE VIGILANCIA.jpeg" class="img-fluid w-100 rounded-top equal-image" alt="Image">
                        <div class="team-icon">
                            <a class="btn btn-primary btn-sm-square text-white rounded-circle mb-3" href=""><i class="fas fa-share-alt"></i></a>
                            <div class="team-icon-share">
                                <a class="btn btn-primary btn-sm-square text-white rounded-circle mb-3" href=""><i class="fab fa-facebook-f"></i></a>
                                <a class="btn btn-primary btn-sm-square text-white rounded-circle mb-3" href=""><i class="fab fa-twitter"></i></a>
                                <a class="btn btn-primary btn-sm-square text-white rounded-circle mb-0" href=""><i class="fab fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="team-content bg-dark text-center rounded-bottom p-4">
                        <div class="team-content-inner rounded-bottom">
                            <h4 class="text-white">JUNTA DE VIGILANCIA</h4>
                            <p class="text-muted mb-0"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Team End -->

<style>
    .row {
  display: flex;
  flex-wrap: wrap;
}
.col-sm-6 {
  display: flex;
}
.team-item {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.equal-image {
  max-height: 410px;
  width: 100%;
  object-fit: cover;
}
</style>